/* list */
ul
{
  padding: 0;
  list-style: none;
  background: #aaaaaa;
}

ul li
{
  width: 100%;
  display: inline-block;
  position: relative;
  text-align: left;
}

ul li a
{
  height: 100px;
  border: 1px solid #aaaaaa;
  display: block;
  color: #888888;
  background: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
}

ul li a:hover{
  color: #666666;
  background: #dddddd;
}

ul li ul.dropdown
{
  min-width: 225px; /* Set width of the dropdown */
  background: #1E90FF;
  display: none;
  position: absolute;
  z-index: 999;
  left: 0;
}

ul li:hover ul.dropdown
{
  display: block; /* Display the dropdown */
}

ul li ul.dropdown li
{
  display: block;
}

ul li ul li:hover
{
  display: block;
}

ul li ul li div.countryListBlock
{
  height: 200px;
  width: 200px;
  
  min-width: 2000px; /* Set width of the dropdown */
  background: #1E90FF;
  display: none;
  position: absolute;
  z-index: 999;
  left: 0;
}

/* DROPDOWN */


.advancedOption {
  width: 90%;
  height: 20px;
  background-color: #0073e6;
  
  vertical-align: text-top;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  
  position: relative;
  display: block;
  padding: 0.5em;
  text-align: center;
  border-top: 1px solid #CCC;
  color: #000;
}
.advancedOption:hover {
  color: #aaaaaa;
}

.advancedOption::before {
  font-family: Consolas, monaco, monospace;
  font-weight: bold;
  font-size: 15px;
  content: "+";
  vertical-align: text-top;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  background: radial-gradient(ellipse at center, #CCC 50%, transparent 50%);
}

.advancedOption:focus
{
  display: block;
}
.advancedOption:active
{
  width: 96%;
  height: 250px;
  background-color:#0073e6;
  color: #ffffff;
  
  position: relative;
  overflow: hidden;
  transition: height 0.5s;
  
  vertical-align: text-top;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 2px #0073e6;
  
  z-index: 1;
}

section {
  padding: 0 20px;
}

div div div
{
  width: 100%;
  height: 10%;
  
  position: relative;
  display: none;
  
  overflow: hidden;

  z-index: 9999;
  text-align: left;
}
div div:active div
{
  display: block;
}

.CountryFilter
{

}
.CountryFilter ~ .advancedOption:active
{
  display: block;
}

.CityFilter
{

}

.CityFilter ~ .advancedOption:active
{
  display: block;
}

.SportFilter
{
  border-top: 1px solid #0066cc;
}
.SportFilter ~ .advancedOption:active
{
  display: block;
}

.NumPlayerFilter
{

}
.NumPlayerFilter ~ .advancedOption:active
{
  display: block;
}

.CoachFilter
{

}
.CoachFilter ~ .advancedOption:active
{
  display: block;
}

/* search button */
.searchbutton {
  height: 25px;
  width: 75px;
  
  background-color: #0059b3;
  border: none;
  color: white;
  
  padding: 2px 2px;
  text-align: center;
  text-decoration: none;
  
  display: inline-block;
  font-size: 15px;
  margin: 2px 2px;
  cursor: pointer;
  box-shadow: 0px 0px 2px 2px #0059b3;
}

.searchbutton:hover{
    background-color: #0066cc;
}

.searchbutton:active .searchbutton:focus
{
  width: 50px;
  height: 50px;
  background: #0073e6;
  right: -5px;
  transition: 1s;
}


#searchbox
{
  width: 30%;
  height: 100px;
  background-color:#0073e6;
  color: #cce6ff;
  
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  
  display: inline;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 2px #0073e6;
  padding-top:20px;
  float:left;
  
  z-index: 99;
  
  animation-name: searchAnimation;
  animation-duration: 30s;
}

#resultbox
{
  width: 10px;
  height: 10px;
  background-color:#0073e6;
  color: #cce6ff;
  
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  
  display: inline;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 2px #0073e6;
  float:left;
  
  animation-name: resultAnimation;
  animation-duration: 30s;
  
  z-index: 1;
  
  overflow: hidden;
}

.resultwindow
{
  width: 95%;
  height: 95%;
  background-color:#dddddd;
  color: #cce6ff;
  
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  
  overflow: auto;
  
  z-index: 10;
}

.soccer
{
   background: url('soccer.png') no-repeat;
   width: 16px;
   height: 16px;
   border: none;

   display:inline-block;
}

@keyframes searchAnimation
{
  10% {}
  12% {left:0;}
  14% {left: -500px;}
  100% {left: -500px;}
}

@keyframes resultAnimation
{
  0% {left: 0; width: 10px; height: 10px;}
  12% {left: 0;}
  14% {left: 500px; width: 10px; height: 10px;}
  15% {width: 500px; height: 500px;}
  100% {left: 500px; width: 500px; height: 500px}
}