
/* list */
ul
{
  padding: 0;
  list-style: none;
  background: #0073e6;
}

ul li
{
  display: inline-block;
  position: relative;
  line-height: 21px;
  text-align: left;
}

ul li a
{
  border: 1px solid #308fff;
  display: block;
  padding: 8px 20px;
  color: #cce6ff;
  background: #1a8cff;
  text-decoration: none;
}

ul li:first-child
{
  position: absolute;
  left: 20px;
}

ul li a:hover{
  color: #fff;
  background: #0080ff;
}

ul li ul.dropdown
{
  min-width: 225px; /* Set width of the dropdown */
  background: #1E90FF;
  display: none;
  position: absolute;
  z-index: 999;
  left: 0;
}

ul li:hover ul.dropdown
{
  display: block; /* Display the dropdown */
}

ul li ul.dropdown li
{
  display: block;
}

ul li ul li:hover
{
  display: block;
}

ul li ul li div.countryListBlock
{
  height: 200px;
  width: 200px;
  
  min-width: 2000px; /* Set width of the dropdown */
  background: #1E90FF;
  display: none;
  position: absolute;
  z-index: 999;
  left: 0;
}

ul li ul li.CountryHover:hover
{
  display: block;
}

/* search button */
.searchbutton {
  height: 25px;
  width: 75px;
  
  background-color: #0059b3;
  border: none;
  color: white;
  
  padding: 2px 2px;
  text-align: center;
  text-decoration: none;
  
  display: inline-block;
  font-size: 15px;
  margin: 2px 2px;
  cursor: pointer;
  box-shadow: 0px 0px 2px 2px #0059b3;
}

.searchbutton:hover{
    background-color: #0066cc;
}

.searchbutton:active .searchbutton:focus
{
  width: 50px;
  height: 50px;
  background: #0073e6;
  right: -5px;
  transition: 1s;
}


.searchbox
{
  width: 30%;
  height: 125px;
  background-color:#0073e6;
  color: #cce6ff;
  
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  
  display: inline;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  border-radius: 25px;
  box-shadow: 0px 0px 2px 2px #0073e6;
  padding-top:20px;
  float:left;
  
  z-index: 99;
  
  animation-name: searchAnimation;
  animation-duration: 60s;
}

.resultbox
{
  width: 10;
  height: 10px;
  background-color:#0073e6;
  color: #cce6ff;
  
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  
  display: inline;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  border-radius: 25px;
  box-shadow: 0px 0px 2px 2px #0073e6;
  padding-top:20px;
  float:left;
  
  animation-name: resultAnimation;
  animation-duration: 60s;
  
  z-index: 1
}

@keyframes searchAnimation
{
  10% {}
  12% {left:0}
  14% {left: -500px;}
  100% {left: -500px;}
}

@keyframes resultAnimation
{
  0% {left: 0; width: 10px; height: 10px;}
  12% {left: 0}
  14% {left: 500px; width: 10px; height: 10px;}
  15% {width: 500px; height: 500px;}
  100% {left: 500px; width: 500px; height: 500px}
}

.resultwindow
{
  length: 90px;
  width: 90px;
  background-color:#aaaaaa;
  color: #cce6ff;
}