

body {
	background-color: lightgray;
}

h1 {
	font-family: courier;
	color: black;
	font-size: 50px;
	text-align: center;
	
}

div {
	position: relative;
}


li{
	display: inline;
}

#topnav {
    background-color: #333333;
	list-style: none;
	position: fixed;
	margin: 0 auto;
	position: relative;
	width: 100%;
    text-align: center;
}
    li {
      float: none;
      display: inline-block;
    }

#content {
	position: relative;
	width: 100%;
	height: 500px;

	padding: 0px;
	margin: auto;
	display: inline-block;
}

object {
	height: 100%;
	width: 100%;
	
}


#topnav a {
    display: inline-block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	width: 150px; /* fixed width */
    font-size: 20px;
}

#red {
	color:blue;
}

/* Change the color of links on hover */
#topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
#topnav a:active {
    background-color: #5a5a5f;
    color: white;
}

/*#banner{
	background: rgba(1,90,156,0);
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
} */
